<template>
    <div id="login" class="flex justify-center items-center">
        <div class="w-2/5 bg-white rounded-md">
            <div class="text-left py-6 px-7 border-b border-gray-200">
                <span class="font-bold text-xl">Login</span>
            </div>
            <form @submit.prevent="login" class="flex flex-col text-left py-8 px-12">
                <label for="email" class="font-bold ml-3 mt-2 mb-4">E-mail</label>
                <input v-model="email" class="p-2 border border-gray-300 rounded-md" type="email" name="email" id="email" placeholder="Digite seu e-mail">

                <label for="password" class="font-bold ml-3 mt-10 mb-4">Senha</label>
                <input v-model="password" class="p-2 border border-gray-300 rounded-md" type="password" name="password" id="password" placeholder="Digite sua senha">

                <button type="submit" class="bg-blue-800 rounded-md text-white font-bold p-2 mt-14">Entrar</button>
            </form>
        </div>
    </div>
</template>

<script>
import axios from "axios"
import { mapMutations } from "vuex"

export default {
    name: "Login",
    data() {
        return {
            email: "",
            password: ""
        }
    },
    methods: {
        async login(e){
            e.preventDefault();
            const response = await axios.post("http://localhost:3086/users/login", {
                email: this.email,
                password: this.password
            })
            const { user, token } = response.data

            this.setUser(user)
            this.setToken(token)
            this.$router.push("/")
        },
        ...mapMutations(["setUser", "setToken"])
    }
}
</script>

<style scoped>
    #login {
        min-height: 100vh;
    }
</style>
