<template>
    <div class="grid grid-cols-10">
        <Sidebar />
        <div id="methodOne" class="bg-white col-span-9 px-14 py-8">
            <span class="font-bold text-3xl">Método 3</span>
            <form @submit.prevent="verifyWord" class="flex flex-col mt-14 ml-8">
                <div class="grid grid-cols-2 gap-8">
                    <div class="flex flex-col">
                        <label for="count" class="font-bold mt-10 mb-4">Count</label>
                        <select class="p-2 border border-gray-300 rounded-md mb-4 bg-white" v-model="count" name="count" id="count">
                            <option v-for="index in 100" :value="index">{{index}}</option>
                        </select>
                    </div>
                    <div class="flex flex-col">
                        <label for="minWordLength" class="font-bold mt-10 mb-4">Minimum word length</label>
                        <select class="p-2 border border-gray-300 rounded-md mb-4 bg-white" v-model="minWordLength" name="minWordLength" id="minWordLength">
                            <option v-for="index in 100" :value="index">{{index}}</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="bg-blue-800 rounded-md text-white font-bold p-2 mt-4 w-1/12">Verificar</button>
            </form>

            <div class="ml-8 mt-10" v-if="words !== []">
                <ol class="ml-4 mt-6 text-gray-600 text-xl">
                    <li v-for="word of words">{{word}}</li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import Sidebar from "./Sidebar.vue";

export default {
    name: "MethodThree",
    components: {Sidebar},
    data(){
        return {
            minWordLength: 1,
            count: 1,
            words: []
        }
    },
    computed: {
        ...mapGetters(["getToken"])
    },
    methods: {
        async verifyWord(e) {
            e.preventDefault();

            const response = await axios.post("http://localhost:3086/documents/top-words", {
                count: this.count,
                minWordLength: this.minWordLength
            }, {
                headers: {
                    Authorization: "Bearer " + this.getToken
                },
            })

            this.words = response.data
        }
    }
}
</script>

<style scoped>
#methodOne {
    min-height: 100vh;
}
</style>
