<template>
    <div class="grid grid-cols-10">
        <Sidebar />
        <div id="methodOne" class="bg-white col-span-9 px-14 py-8">
            <span class="font-bold text-3xl">Método 2</span>
            <form @submit.prevent="verifyWord" class="flex flex-col mt-14 ml-8">
                <label for="word" class="font-bold mt-10 mb-4">Digite uma palavra</label>
                <input v-model="word" class="p-2 border border-gray-300 rounded-md mb-4" type="text" name="word" id="word" placeholder="Digite uma palavra">
                <button type="submit" class="bg-blue-800 rounded-md text-white font-bold p-2 mt-4 w-1/12">Verificar</button>
            </form>

            <div class="ml-8 mt-10" v-if="wordCount !== null">
                <span>
                    A palavra {{word}} foi encontrada em {{wordCount}} no texto.
                </span>

                <ol class="ml-4 mt-6 text-gray-600 text-xl list-decimal">
                    <li v-for="sentence of sentences">{{sentence}}</li>
                </ol>
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
import Sidebar from "./Sidebar.vue";

export default {
    name: "MethodTwo",
    components: {Sidebar},
    data(){
        return {
            word: "",
            wordCount: null,
            sentences: []
        }
    },
    computed: {
        ...mapGetters(["getToken"])
    },
    methods: {
        async verifyWord(e) {
            e.preventDefault();

            const response = await axios.post("http://localhost:3086/documents/word-sentences", {
                word: this.word
            }, {
                headers: {
                    Authorization: "Bearer " + this.getToken
                },
            })

            const sentences = response.data
            this.wordCount = sentences.length
            this.sentences = sentences

        }
    }
}
</script>

<style scoped>
#methodOne {
    min-height: 100vh;
}
</style>
