<template>
    <div class="flex flex-col gap-6 p-2 text-center mt-6">
        <router-link active-class="bg-white text-black" to="/" class="p-2 text-white rounded-md">Método 1</router-link >
        <router-link active-class="bg-white text-black" to="/methodTwo" class="p-2 text-white rounded-md">Método 2</router-link>
        <router-link active-class="bg-white text-black" to="/methodThree" class="p-2 text-white rounded-md">Método 3</router-link>
    </div>
</template>

<script>
export default {
    name: "Sidebar"
}
</script>

<style scoped>

</style>
